@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html,body{
    width: 99%;
    height: 99%;
    margin: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: .20em;
    align-items: center;
    background-color: #2E0249;

}

/*Pour cacher la bar de défilment*/
p,.list{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
p::-webkit-scrollbar,.list::-webkit-scrollbar {
    display: none;
}

a{
    color: white;
    text-decoration: none;


}
a:checked{
    color: white;
}


.header{
    margin: 0.5%;
    width: 90%;
    border: solid #A91079 1px;
    border-radius: 12px;
    background-color: #A91079;
    text-align: center;
    height: 8%;
}

header>h1{
    margin: 0;
    font-size: x-large;
    text-align: center;
}
.footer {
    margin: 0.5%;
    border: solid #A91079 1px;
    border-radius: 12px;
    background-color: #A91079;
    text-align: center;
    height: 5vh;
    width: 90vw;
}

footer>p{
    margin: 0;
}
.list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: solid #A91079 1px;
    border-radius: 12px;
    margin: 1%;
    height: 72vh;
}

#list__serie{
    height: 75vh;
}
.content{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serie {
    margin: 2%;
    display: flex;
    height: 82%;


}

img{
    border-radius: 12px;
}
.serie__image {
    margin: 1%;

}
.serie__txt {
    margin: 1%;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.serie__txt>p{
    margin: 0;
    height: 82%;
    overflow: scroll;
}

.serie,.season{
    cursor: pointer;
    border-radius: 12px;

    transition: background-color 0.5s 5ms;
}


#list__serie>*:nth-child(odd){
    flex-direction: row;
}
#list__serie>*:nth-child(even){
    flex-direction: row-reverse;
}

.serie:hover,#season:hover{
    background-color: #A91079;

}

.serie__pres{
    display: flex;
    margin: 2%;
    height: 82%;
}

.serie__txt__nom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.serie__txt__nom>p{
    overflow: scroll;
}

.btn__home{
    margin-top:0.5%;
    padding:0.5%;
    cursor: pointer ;
    border-radius: 12px;
    border: #F806CC solid 1px;
    transition: background-color 1s 5ms;

}


.selection>form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.selection>form>select{
    all: unset;
    margin-left:1% ;
    margin-right: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: #A91079;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.5s 5ms;

}
.selection>form>select:hover{
    background-color: #F806CC;

}


.section__btn{
    all: unset;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border: #F806CC solid 1px;
    border-radius: 12px;
    transition: background-color 0.5s 5ms;
    cursor: pointer;
}

.section__btn:hover{
    background-color: #F806CC;
}


.selection{
    width: 100%;
    margin-top: 0.5%;


}

.btn__home>p{
    margin: 0;

}

.btn__home:hover{
    background-color: #F806CC;
}

@media (min-width: 800px) {
    #list__serie{
        height: 71vh;
    }
}

@media (min-width:1000px) {
    .footer{
        margin: 0;
    }
    .list{
        margin: 0.5%;
    }
}

@media (min-width: 1200px) {
    .header{
        margin-bottom: 0;
    }
    #list__serie{
        height: 75vh;
    }

}
@media (min-width: 1800px) {

    header>h1{
        margin: 0;
        padding-top: 2vh;
        font-size: xx-large;
    }
    footer>p{
        padding-top: 1.5vh;

    }

}

/*--------------- Admin ---------------------*/

.admin__btn__container{
    display: flex;
    gap: 5em;
}

main{
    align-items: center;
    display: flex;
    height: 30%;
    align-items: center;
}

.header__admin{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin__btn{
    border: #A91079 solid 1px;
    border-radius: 30px;
    width: 35%;
    cursor: pointer;
    transition: background-color 1s 5ms;

}
.admin__btn:hover{
    background-color: #F806CC;
}


.admin__btn>h3{
    margin: 1em;
}